<footer >
   {#
     <div class="bg-yellow sm:h-32 h-auto sm:pt-6 px-4">

             <div class="container mx-auto py-6 sm:py-0 sm:flex mt-2">

                 <div class="w-full mb-4 md:w-1/2">

                     <p class="text-xl">

                         <svg class="inline w-1/12" viewBox="0 0 61 41" fill="none" xmlns="http://www.w3.org/2000/svg">

                             <path d="M60.046 1.196C60.05 1.172 60.057 1.148 60.059 1.124C60.066 1.05 60.058 0.975002 60.049 0.900002C60.047 0.881002 60.05 0.863003 60.047 0.844003C60.029 0.745003 59.996 0.648003 59.947 0.555003C59.939 0.539003 59.928 0.524003 59.919 0.508003C59.917 0.506003 59.917 0.503003 59.916 0.500003C59.915 0.498003 59.912 0.497003 59.911 0.494003C59.904 0.483003 59.898 0.471003 59.891 0.461003C59.829 0.370003 59.754 0.295003 59.67 0.231003C59.651 0.217003 59.629 0.209003 59.609 0.196003C59.535 0.147003 59.457 0.107003 59.373 0.0800027C59.336 0.0680027 59.299 0.0620031 59.261 0.0550031C59.188 0.0400031 59.115 0.0330027 59.039 0.0350027C58.999 0.0360027 58.961 0.0380025 58.921 0.0440025C58.895 0.0480025 58.87 0.044003 58.844 0.050003L0.798007 12.046C0.385007 12.132 0.069007 12.467 0.010007 12.885C-0.048993 13.303 0.160007 13.713 0.533007 13.91L17.165 22.683L20.082 38.87C20.08 38.882 20.083 38.895 20.082 38.907C20.072 38.987 20.071 39.065 20.081 39.144C20.086 39.184 20.091 39.222 20.101 39.261C20.124 39.356 20.161 39.445 20.211 39.529C20.221 39.545 20.221 39.564 20.232 39.58C20.235 39.585 20.24 39.589 20.244 39.593C20.257 39.612 20.275 39.627 20.29 39.646C20.337 39.704 20.386 39.757 20.442 39.802C20.451 39.809 20.457 39.82 20.467 39.827C20.482 39.838 20.499 39.841 20.514 39.851C20.575 39.891 20.638 39.924 20.705 39.95C20.732 39.96 20.757 39.972 20.785 39.98C20.875 40.006 20.968 40.024 21.062 40.024C21.063 40.024 21.064 40.024 21.065 40.024C21.069 40.024 21.073 40.022 21.077 40.022C21.094 40.023 21.111 40.024 21.128 40.024C21.405 40.024 21.655 39.9 21.84 39.709L32.919 32.323L44.519 39.863C44.683 39.969 44.873 40.024 45.064 40.024C45.169 40.024 45.276 40.007 45.379 39.973C45.667 39.877 45.897 39.655 46.002 39.369L59.998 1.38C60.011 1.346 60.022 1.311 60.031 1.275C60.035 1.26 60.036 1.245 60.039 1.231C60.042 1.22 60.044 1.208 60.046 1.196ZM48.464 7.579L24.471 25.22C24.432 25.249 24.401 25.285 24.367 25.319C24.354 25.331 24.341 25.341 24.33 25.354C24.309 25.377 24.29 25.4 24.271 25.425C24.253 25.449 24.239 25.474 24.223 25.499C24.186 25.559 24.155 25.621 24.131 25.687C24.126 25.7 24.118 25.71 24.114 25.723C24.113 25.727 24.109 25.729 24.108 25.733L21.358 34.67L19.179 22.579L48.464 7.579ZM22.908 36.594L25.634 27.59L29.878 30.349L31.092 31.138L26.968 33.887L22.908 36.594ZM52.044 3.498L18.071 20.899L3.93101 13.441L52.044 3.498ZM44.559 37.504L29.154 27.492L26.821 25.975L56.975 3.803L44.559 37.504Z" fill="black"/>

                         </svg>

                         <span class="inline-block pl-4">

                             <strong>Sign up</strong> to our Newsletter

                         </span>

                     </p>

                 </div>

                 <div class="w-full md:w-1/2">

                     <input class="inline-block rounded-l-full w-2/3 sm:w-3/4 py-2"/>

                     <a href="#" class="inline-block py-2 text-center w-1/3 sm:w-1/4 -mx-1 bg-green rounded-r-full  text-white text-sm ">subscribe</a>

                 </div>

             </div>

     </div>
     #}

     <div class="bg-gray-100 ">

             <div class="container mx-auto py-16 px-4 sm:px-0 flex flex-wrap">

                 <!-- LEFT -->

                 <div class="w-full sm:w-2/6 sm:pr-8">

                     <div class="w-full mb-8">



                     </div>

                     <div class="w-full mb-8 flex">

                         <div class="w-1/6">

                             <svg viewBox="0 0 85 85" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <g clip-path="url(#clip0)">
                                 <path d="M76.1591 36.1266H55.2436C55.4013 35.3452 55.4814 34.5501 55.4826 33.7531V15.1474C55.4826 7.94722 50.4648 5.38257 45.6859 5.38257H9.74887C4.97001 5.38257 0 7.94722 0 15.1314V33.7371C0 40.2842 4.15761 42.9922 8.45858 43.4223V51.8968C8.45679 52.7765 9.16864 53.4912 10.0484 53.4929C10.5238 53.4939 10.9747 53.2825 11.2781 52.9163L19.2429 43.486H35.4591C35.3988 43.9669 35.3668 44.4509 35.3636 44.9356V61.4545C35.3636 67.9697 39.9353 70.2954 44.2045 70.2954H47.2789L54.6064 79.0407C55.1678 79.7181 56.1719 79.8123 56.8493 79.251C57.2153 78.9477 57.4268 78.4967 57.426 78.0212V70.2954H76.1591C82.6743 70.2954 85 65.7236 85 61.4545V44.9356C85.0159 38.4204 80.4442 36.1266 76.1591 36.1266ZM36.399 40.3001L36.3353 40.332H18.4305C17.9568 40.3312 17.5072 40.5414 17.2039 40.9054L11.6445 47.548V41.8931C11.6445 41.0133 10.9312 40.3001 10.0515 40.3001H9.74887C7.29573 40.3001 3.18591 39.4399 3.18591 33.7371V15.1474C3.18591 9.42867 7.29573 8.5844 9.74887 8.5844H45.6859C48.1391 8.5844 52.2489 9.4446 52.2489 15.1633V33.7371C52.2684 34.5432 52.1718 35.348 51.9621 36.1266H44.2204C41.0347 35.9306 38.0099 37.5447 36.399 40.3001ZM77.2867 67.1095C76.9172 67.1497 76.5444 67.1497 76.175 67.1095H55.8012C54.9214 67.1095 54.2082 67.8227 54.2082 68.7025V73.6406L49.2223 67.683C48.919 67.319 48.4694 67.1087 47.9957 67.1095H44.2204C41.4042 67.4165 38.8724 65.3823 38.5654 62.5662C38.5252 62.1966 38.5252 61.8239 38.5654 61.4545V44.9356C38.2763 42.1175 40.3262 39.5986 43.1443 39.3095C43.5022 39.2728 43.8628 39.2738 44.2204 39.3125H76.1591C78.9752 39.0054 81.507 41.0396 81.8141 43.8558C81.8543 44.2253 81.8543 44.5981 81.8141 44.9675L81.83 61.4545C82.1371 64.2707 80.1029 66.8025 77.2867 67.1095Z" fill="#8A8A8A"/>
                                 <path d="M33.0697 17.2342C32.557 16.4401 31.8272 15.8099 30.967 15.4183C30.0141 14.9788 28.9739 14.7608 27.9245 14.7811C26.8154 14.7673 25.7204 15.0302 24.7386 15.5457C23.8766 15.9927 23.1462 16.6572 22.62 17.4732C22.1136 18.1641 21.8253 18.9907 21.7916 19.8467C21.8012 20.2352 21.9678 20.6029 22.2536 20.8662C22.5517 21.1702 22.9589 21.3423 23.3846 21.3441C24.1386 21.3441 24.6695 20.8926 24.9775 19.99C25.1872 19.2754 25.5454 18.6131 26.0289 18.0466C26.5492 17.5632 27.2485 17.3205 27.9564 17.3776C28.6286 17.3497 29.2853 17.5839 29.7883 18.0307C30.2468 18.4325 30.5085 19.0138 30.5051 19.6237C30.5065 19.9421 30.424 20.2551 30.2661 20.5316C30.1124 20.8126 29.9193 21.0701 29.6927 21.2963C29.4697 21.5193 29.1033 21.8538 28.5935 22.2998C28.1093 22.7166 27.6467 23.1578 27.2077 23.622C26.4442 24.441 26.0374 25.5297 26.0767 26.6486C26.0438 27.0946 26.1997 27.5339 26.5068 27.8592C26.7855 28.1241 27.1579 28.2672 27.5422 28.2575C28.2704 28.3114 28.9046 27.7649 28.9585 27.0367C28.9591 27.0295 28.9595 27.0221 28.9599 27.015C29.0396 26.6327 29.1192 26.3459 29.1511 26.2026C29.1991 26.0425 29.2632 25.8878 29.3422 25.7406C29.4436 25.5566 29.5666 25.3856 29.7086 25.2309C29.9141 25.0013 30.1321 24.7832 30.3617 24.5777C31.3388 23.707 32.0184 23.0857 32.4007 22.714C32.7898 22.3251 33.1175 21.8793 33.3724 21.3918C33.6567 20.8465 33.7991 20.2385 33.7866 19.6237C33.7917 18.7734 33.5421 17.9411 33.0697 17.2342Z" fill="#8A8A8A"/>
                                 <path d="M29.4059 31.1248C29.4146 30.1571 28.6375 29.3654 27.6698 29.3567C27.659 29.3567 27.6485 29.3567 27.6377 29.3567L27.6218 29.3407C27.1401 29.3278 26.6742 29.512 26.3315 29.8505C25.9888 30.1784 25.7982 30.6346 25.8058 31.1089C25.7674 31.6105 25.9683 32.1005 26.3474 32.4311C26.6977 32.7439 27.1522 32.9145 27.6218 32.9089C28.0815 32.9127 28.5256 32.7419 28.8643 32.4311C29.2388 32.1041 29.4391 31.6208 29.4059 31.1248Z" fill="#8A8A8A"/>
                                 <path d="M63.2084 46.1781C63.2464 45.3884 63.1104 44.5999 62.8101 43.8683C62.5081 43.3424 61.9338 43.0338 61.3287 43.0718C60.7317 43.031 60.1475 43.2588 59.7357 43.6931C59.3222 44.1739 59.1109 44.7962 59.1464 45.4294C59.1464 45.971 59.1888 46.8684 59.2738 48.1215L59.7039 54.4933C59.7379 55.1317 59.8723 55.7605 60.1021 56.3571C60.2756 56.7501 60.677 56.9922 61.1057 56.9624C61.5453 56.9845 61.9523 56.73 62.1252 56.3252C62.3661 55.7488 62.5009 55.1337 62.5234 54.5092L63.2084 47.9781C63.239 47.3786 63.239 46.7778 63.2084 46.1781Z" fill="#8A8A8A"/>
                                 <path d="M62.6668 59.9572C62.2817 59.5768 61.7583 59.37 61.2172 59.3837C60.1175 59.3749 59.2189 60.2592 59.2101 61.3588C59.2101 61.3695 59.2101 61.3801 59.2101 61.3908C59.1789 61.9505 59.4011 62.4945 59.8154 62.8723C60.2105 63.2209 60.7222 63.4085 61.2491 63.3979C61.768 63.4009 62.2688 63.2074 62.6509 62.8563C63.0633 62.4774 63.2853 61.9342 63.2562 61.3749C63.2666 60.8407 63.0527 60.3265 62.6668 59.9572Z" fill="#8A8A8A"/>
                                 </g>
                                 <defs>
                                 <clipPath id="clip0">
                                 <rect width="85" height="85" fill="white"/>
                                 </clipPath>
                                 </defs>
                                 </svg>


                         </div>

                         <div class="w-5/6">

                             <p class="text-sm pl-8 border-l-2 ml-8">
                                     <span class="text-xs">GOT QUESTIONS? CALL US.<br/>
                                     DAVID IS STANDING BY</span><br/>
                                         <strong>P. (915) 633.1411</strong>
                             </p>

                         </div>

                     </div>

                     <div class="w-full">

                         <p class="text-xs">

                             <strong>Office Location</strong><br/>

                             6900 Gateway East Blvd. 79915
                         </p>

                     </div>

                 </div>

                 <!-- FORM -->

                 <div class="w-full sm:w-4/6 mt-8 sm:mt-0">

                     <div class="w-full">

                         <h2 class="text-green leading-none pb-2 sm:pb-0"><strong>SEND US A QUICK MESSAGE</strong></h2>

                         <p>Please feel free to send any questions or comments. We will get back to you ASAP</p>

                     <form class="my-8">

                         <div class="w-full flex my-4">

                                 <div class="w-1/2">

                                 <label>NAME</label>

                                 <input class="w-full px-4 h-12 mt-2 bg-gray-200 appearance-none rounded-sm  border-2 border-white  focus:outline-none focus:bg-white focus:bg-white focus:border-green">

                                 </div>

                                 <div class="w-1/2 pl-8">

                                     <label>EMAIL</label>

                                     <input class="w-full px-4 h-12 mt-2 bg-gray-200 appearance-none rounded-sm  border-2 border-white  focus:outline-none focus:bg-white focus:bg-white focus:border-green">

                                 </div>

                         </div>

                         <div class="w-full">

                             <label>MESSAGE</label>
                             <textarea class="w-full px-4 h-24 mt-2 bg-gray-200 appearance-none rounded-sm  border-2 border-white  focus:outline-none focus:bg-white focus:bg-white focus:border-green"></textarea>

                             <a href="#" class="inline-block bg-green rounded-sm px-8 py-2 text-white my-4">send</a>

                         </div>


                     </form>

                     </div>

                 </div>

             </div>

     </div>


     <div class="bg-green h-12">

             <div class="container mx-auto px-4 sm:px-0">

                     <p class="text-white text-xs py-4">International Cold Equipment</p>

             </div>

     </div>

</footer>
